VesselStopOverPresentation/Ressources/manifeste_guce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by u_site (site) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Manifeste">
		<xs:annotation>
			<xs:documentation>Manifes Data String</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="General_segment">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="General_segment_id">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Customs_office_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Voyage_number">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Date_of_departure">
											<xs:simpleType>
												<xs:restriction base="xs:date"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Date_of_arrival" minOccurs="0">
											<!--<xs:simpleType>
												<xs:restriction base="xs:date"/>
											</xs:simpleType>-->
										</xs:element>
										<xs:element name="Time_of_arrival" type="xs:time" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Totals_segment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Total_number_of_bols" type="xs:int"/>
										<xs:element name="Total_number_of_packages" type="xs:int"/>
										<xs:element name="Total_number_of_containers" type="xs:int"/>
										<xs:element name="Total_gross_mass" type="xs:double"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Transport_information">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Carrier">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Carrier_code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="17"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Carrier_name" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Carrier_address1" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Carrier_address2" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Carrier_address3" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Carrier_address4" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Mode_of_transport_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Identity_of_transporter">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="45"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Nationality_of_transporter_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_transporter" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="70"/>
													<xs:minLength value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Registration_number_of_transport_code" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
													<xs:minLength value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Date_of_registration" minOccurs="0">
											<!--<xs:simpleType>
												<xs:restriction base="xs:date"/>
											</xs:simpleType>-->
										</xs:element>
										<xs:element name="Master_information">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="70"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Load_unload_place">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Place_of_departure_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_destination_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Tonnage" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Tonnage_net_weight" type="xs:double"/>
										<xs:element name="Tonnage_gross_weight" type="xs:double"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Bol_segment" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Bol_id">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Bol_reference">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="17"/>
												</xs:restriction>
											</xs:simpleType>
											<xs:unique name="Bol_reference">
												<xs:selector xpath="Bol_reference"/>
												<xs:field xpath="Bol_reference"/>
											</xs:unique>
										</xs:element>
										<xs:element name="Line_number">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:int"/>
												</xs:simpleContent>
											</xs:complexType>
											<xs:unique name="Line_number">
												<xs:selector xpath="Line_number"/>
												<xs:field xpath="Line_number"/>
											</xs:unique>
										</xs:element>
										<xs:element name="Bol_nature">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2"/>
													<xs:enumeration value="22"/>
													<xs:enumeration value="23"/>
													<xs:enumeration value="24"/>
													<xs:enumeration value="28"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Bol_type_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Master_bol_ref_number" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="17"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Unique_carrier_reference" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Load_unload_place">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Place_of_loading_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_unloading_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Traders_segment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Exporter">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Exporter_name">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Exporter_address1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Exporter_address2">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Exporter_address3">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Exporter_address4">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Notify">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Notify_code" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="17"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Notify_name" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Notify_address1" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Notify_address2" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Notify_address3" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Notify_address4" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Consignee">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Consignee_code" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="17"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Consignee_name">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Consignee_address1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Consignee_address2">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Consignee_address3">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Consignee_address4">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ctn_segment" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Ctn_reference">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="17"/>
												</xs:restriction>
											</xs:simpleType>
											<xs:unique name="Ctn_reference">
												<xs:selector xpath="Ctn_reference"/>
												<xs:field xpath="Ctn_reference"/>
											</xs:unique>
										</xs:element>
										<xs:element name="Number_of_packages" type="xs:int"/>
										<xs:element name="Type_of_container">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Empty_Full">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Seals" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Marks1" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Marks2" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Marks3" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Sealing_Party" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Goods_segment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number_of_packages" type="xs:int"/>
										<xs:element name="Gross_mass" type="xs:double"/>
										<xs:element name="Volume_in_cubic_meters" type="xs:double" minOccurs="0"/>
										<xs:element name="Num_of_ctn_for_this_bol" type="xs:int"/>
										<xs:element name="Information" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="70"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Goods_detail_segment" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Package_type_code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="17"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Goods_description" type="xs:string"/>
													<xs:element name="Shipping_marks" type="xs:string" minOccurs="0"/>
													<xs:element name="Gross_mass" type="xs:double"/>
													<xs:element name="Number_of_packages" type="xs:long"/>
													<xs:element name="Volume_in_cubic_meters" type="xs:double" minOccurs="0"/>
													<xs:element name="Seals_segment" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number_of_seals" type="xs:int" minOccurs="0"/>
																<xs:element name="Marks_of_seals" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Sealing_party_code" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Value_segment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Freight_segment">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PC_indicator">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Freight_value" type="xs:double"/>
													<xs:element name="Freight_currency">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Customs_segment">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Customs_value" type="xs:double" minOccurs="0"/>
													<xs:element name="Customs_currency" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Insurance_segment">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Insurance_value" type="xs:double" minOccurs="0"/>
													<xs:element name="Insurance_currency" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Transport_segment">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Transport_value" type="xs:double" minOccurs="0"/>
													<xs:element name="Transport_currency" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Location">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Location_code" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="17"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Location_info" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CODE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
